html {
    min-height:100%;
    background:url(bg.jpg);
    background-size:cover
  }
  #logo{
    width: 40%;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }